
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



body {
    background-color: hsl(228, 33%, 97%);
}

.flex-container {
    display: flex;
    background-color: white;
    max-height: 190px;
    max-width: 37rem;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.comment {
    max-width: 31rem;
    max-height: 90px;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    color: hsl(211, 10%, 45%);
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 170px;
    margin-right: 150px;
    position: relative;
    bottom: 72px;



  }


.plus, .minus{
   border: 0px;
   background-color: hsl(228, 33%, 97%);
   border-radius: 10px;

}

.plus {

    padding-bottom: 6px;
}

.minus{
    padding-top: 6px;
}

.avatar {
    padding: 7px;
    margin-top: 10px;
    
    
}

table{
    margin: 15px;
}

#tableButtons {
    background-color: hsl(228, 33%, 97%);
    color: hsl(238, 40%, 52%);
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    
}

.username{
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;
    padding: 7px;
    margin-top: 10px;
    margin-left: 7px;
    margin-right: 7px;
    
    
}

.timestamp{
    width: 500px;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    color: hsl(211, 10%, 45%);
    padding: 7px;
    margin: 0px;
    margin-top: 10px;

}
 

  .replyButton {
    border: 0px;
    background-color: white;
    height: 25px;
    width: 50px;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    color: hsl(238, 40%, 52%);
    margin-top: 10px;
    margin-left: auto;
    margin-right: 10px;
    padding-left: 0px;

  }

  .replyImage {
    margin-top: 10px;
    padding: 4px;
  }

  .replyImageButton {
    border: 0px;
    background-color: white;
    padding-right: 0px;
  }


  #reply1, #reply2 {
    margin-left: 175px;
    max-width: 32.5rem;
    max-height: 190px;
  }

  .commentReply1, .commentReply2 {
    max-width: 27rem;
    max-height: 90px;
    margin-left: 240px;
    position: relative;
    bottom: 70px;
    color:hsl(211, 10%, 45%);
  }


  .deleteButton {
    border: 0px;
    background-color: white;
    height: 25px;
    width: 50px;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    color: hsl(358, 79%, 66%);
    margin-top: 10px;
    margin-left: auto;
    padding-left: 0px;

  }

  .deleteImage {
    margin-top: 10px;
    padding: 4px;
  }

  .deleteImageButton {
    border: 0px;
    background-color: white;
    padding-right: 0px;
  }


  .editButton {
    border: 0px;
    background-color: white;
    height: 25px;
    width: 50px;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    color: hsl(238, 40%, 52%);
    margin-top: 10px;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 10px;

  }

  .editImage {
    margin-top: 10px;
    padding: 4px;
  }

  .editImageButton {
    border: 0px;
    background-color: white;
    padding-right: 0px;
  }

  .you {
    background-color: hsl(238, 40%, 52%);
    color: white;
    height: 15px;
    width: 40px;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    padding: 2px;
    margin-top: 10px;
    margin-right: 5px;
  }

  [@]{
    color: hsl(238, 40%, 52%);
  }

  .addComment {
    height: 80px;
    width: 430px;
    border-radius: 10px;
    border-style: 1px solid hsl(211, 10%, 45%);
    margin: 10px;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    text-align: flex-start;
  }

  .sendButton {
    background-color: hsl(238, 40%, 52%);
    color: white;
    border-radius: 10px;
    outline: none;
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    width: 60px;
    height: 35px;
    float: right;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 10px;

  }

  .avatarBottom {
    margin-left: 10px;
    padding: 7px;
    margin-top: 10px;
  }
  
 

/* Adding hover properties to buttons*/


.editButton:hover {
    color: hsl(239, 57%, 85%);
}

.sendButton:hover {
    color: white;
    background-color: hsl(239, 57%, 85%)
} 
.replyButton:hover {
    color: hsl(239, 57%, 85%);
}

.deleteButton:hover {
   color: hsl(357, 100%, 86%)
}
/* Adding hover properties to icons--Unsure how to do this */


/* Adding pointer cursor */
#pointer {cursor: pointer;}






  
  
 



